services:
  # Development mode (Hot-Reloading)
  frontend:
    build:
      context: ./frontend
      target: build-stage
    command: npm run dev -- --host 0.0.0.0 --port 80
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "8081:80"

  server:
    command: npm run dev
    volumes:
      - ./server:/app
      - /app/node_modules
    ports:
      - "3000:3000"
